
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <p><%=content%></p>
    <!-- <form action="/delete">
        <button class="btn btn-danger">DELETE</button>
    </form> -->

<%- include("partials/footer"); -%>
