.box {
  text-align: center;
  max-width: 400px;
  margin: 50px auto;
  background-image: linear-gradient(rgb(0, 255, 191),white);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.box p{
  font-style: bold;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 40px;
  letter-spacing: 3px;
}
input[type=email]{
  width: 75%;
  padding: 12px 20px;
  margin-left: 15px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password]{
  width: 75%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 15px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.auth{
  width:60%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.authf{
    width: 60%;
        margin-top: 10px;
        margin-bottom: 40px;
}
